html(lang="en")
head
	meta(charset="UTF-8")
	title Santa Sudoku
	link(rel="stylesheet", href="css/style.css")
body
	.wrapper
		.outer-wrap
			h1 Santa Sudoku!
			.sudoku-wrap
				.board-wrap
					table.sudoku
						- var i = 0
						while i < 9
							tr
								- var j = 0
								while j < 9
									td.cell
										input(type="number", value='', min="1", max="9", data-row=i, data-col=j)
									- j++
							- i++

	script(src="js/jquery-2.1.1.min.js")
	script(src="js/board.js")
